@page "/"

@using MorphShared.Components

@inject NavigationManager NavigationManager

<MorphSearchBox OnSearch="OnSearch" />

<p>@Query</p>

@code {
    private string AppVersion { get; set; }
    private string Query { get; set; }

    private void OnSearch(string query) {
        this.Query = query;

        if (query != null) {
            this.NavigationManager.NavigateTo($"/word/{query.Trim().ToLower()}");
        }
    }
}
