@page "/"

@using MorphShared.Components

<MorphSearchBox OnSearch="OnSearch" />

<p>@Query</p>

@code {
    private string AppVersion { get; set; }
    private string Query { get; set; }

    private void OnSearch(string query) {
        this.Query = query;
    }
}
