@using Microsoft.AspNetCore.Components.Rendering

@using MorphShared.Components
@using MorphShared.Models
@using MorphShared.Services

@inject IShareService ShareService
@inject ISnackbar Snackbar;

@page "/word/{wordParameter}"

<MorphWord Word="@WordParameter" OnShare="OnShare" />

@code {
    [Parameter]
    public string? WordParameter { get; set; }

    public MudSnackbarElement Snacky { get; set; } = null;

    private async Task OnShare(ShareEventArgs e) {
        await this.ShareService.ShareContent(e.Content);

        // compose HTML message. https://github.com/MudBlazor/MudBlazor/issues/3615
        // suggests enabling renderfragments here, which I kind of like.
        var content = $"<ul><li><strong>Copied a link to your clipboard!</strong></li><li>{e.Content}</li></ul>";

        // show snackbar
        this.Snackbar.Add(content, Severity.Info);
    }
}
