.header-wrap {
    display: flex;
    align-items: center;
}

.search-button-wrap {
    flex-shrink: 1;
    padding-left: 1rem;
    width: 5rem;
}

.morph-page-title {
    flex-grow: 1;
}

.pinyin {
    color: var(--mud-palette-info-lighten);
    font-weight: normal;
}

.character-decompositions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    margin: 1rem 0 1.5rem;
}

::deep .character-decompositions .mud-paper {
    width: 100%;
}

.button-divider {
    margin: 1rem 0;
}

.button-wrap {
    display: flex;
    padding: 1rem 0;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    .search-button-wrap {
        padding: 0;
        width: 3.5rem;
    }

    .word, .pinyin {
        display: block;
        line-height: 2.5rem;
    }

    .title-wrap {
        margin-bottom: 1.2rem;
    }
}