<footer class="morph-flex-parent">
    <div class="background-image-note">
        Photo by <a href="https://www.pexels.com/photo/calm-body-of-lake-between-mountains-346529/" target="_blank">Bri Schneiter</a>.
    </div>
    <div class="morph-flex-child"></div>
    <div>
        Bug/idea? Submit
        <a href="https://github.com/jammerware/morph/issues/new" target="_blank">here</a>.
    </div>
</footer>