<div class="about-component">
    <h1>About <span class="logo app-logo-font">Morph</span></h1>

    <h2>How you can help</h2>
    <p>
        First of all, if you want to help make morph better, I really appreciate it! There are a couple of ways you can get involved:
    </p>

    <ul>
        <li>
            First, tell me about your experience using the app. What's helpful? What isn't? Your thoughts are welcome. You can always file a
            <a href="https://github.com/jammerware/morph/issues" target="_blank">Github issue</a>, or if you want to share your thoughts with me
            privately, you can do that <a href="mailto:ben.s.stein@gmail.com">here</a>.
        </li>
        <li>
            If you discover a word that Morph helps you understand better, do me a HUGE favor and <a href="mailto:ben.s.stein@gmail.com">let me know</a>. I can add it to the
            search box's "hint" list (e.g. Try "marshmallow"). It also may help me and potential collaborators formulate new research questions involving morpheme-based
            learning of semantic information.
        </li>
        <li>
            I'm <strong>not currently accepting pull requests</strong>. I know there are a lot of talented engineers out there (who could supercharge this site from a technical perspective).
            Right now, I'm treating this more as the foundation of a potential research project. If I choose to scale the project up afterward, this may change, but for now, provide feature
            requests, bug reports, and similar by email (above) or via the Github repository (also above).
        </li>
    </ul>

    <h2>Data collection</h2>
    <p>
        If you're worried about privacy, good job! Data privacy is important. Currently, this site collects <em>zero</em> data. This is mostly because that takes work and forethought
        to do responsibly, and I don't have that kind of time. In the future, I <em>may</em> collect user behavior data (like which words you search, which characters get the most traffic, etc.)
        If I begin doing that, it's exceedingly likely that I won't collect identifiable information. I'll post clear and visible updates to the site if or when data collection changes.
    </p>
</div>

@code {
    protected override void OnInitialized()
    {
        System.Diagnostics.Debug.WriteLine("helllo");
    }
}