.header-wrap {
    display: flex;
    align-items: center;
}

.search-button-wrap {
    flex-shrink: 1;
    padding-left: 1rem;
    width: 5rem;
}

.morph-page-title {
    flex-grow: 1;
}

.pinyin {
    color: var(--mud-palette-info-lighten);
    font-weight: normal;
}

.search-button {
    margin-right: 1rem;
    width: 48px;
    height: 48px;
    line-height: 48px;
}

.search-icon {
    font-size: 36px;
    width: 36px;
    height: 36px;
    line-height: 36px;
}

.character-decompositions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem 0 1.5rem;
}

app-character-card {
    display: block;
    flex-grow: 1;
}

.button-divider {
    margin: 1rem 0;
}

.button-wrap {
    display: flex;
    padding-bottom: 1rem;
    justify-content: flex-end;
}