.character-card-component {
    display: flex;
    flex: 1 1 0px;
    height: 100%;
    min-width: 200px;
}

a {
    display: block;
    width: 100%;
}

.content-wrap {
    margin: 0 auto;
    padding: 1rem;
}

.character-big {
    display: block;
    font-size: 6rem;
    line-height: 6.5rem;
    text-align: center;
}

.pinyin {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.definitions {
    text-transform: uppercase;
}

.definitions ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.definitions li
{
    font-weight: bolder;
    margin-right: 1rem;
}