.character-component {
    margin: 2rem 0;
}

.character-wrap {
    display: flex;
}

.character-and-pinyin {
    text-align: center;
    padding: 0 4rem;
}

.pinyin {
    font-size: 2.2rem;
}

.big-character {
    font-size: 8rem;
    line-height: 8.2rem; 
}

fact-header {
    font-weight: bold;
    margin-bottom: 0;
}

.fact-data {
    font-size: 1.1rem;
}

li {
    font-size: 1.1rem;
    margin-right: 2rem;
}

.fact-list > li:not(:last-of-type) {
    margin-bottom: 2rem;
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
}

.semantic-radical strong {
    margin-right: 4px;
}

.fact-data.common-words {
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .character-wrap {
        flex-direction: column;
    }

    .character-and-pinyin {
        margin-bottom: 2rem;
    }

    .big-character {
        font-size: 6rem;
        line-height: 6rem;
    }

    .character-and-pinyin {
        padding: 0 2rem;
    }

    .pinyin {
        font-size: 1.7rem;
    }
}