<div class="app-title-wrap">
    <a class="app-title" href="/">Morph</a>
    <p class="alpha-note">[ <strong>alpha</strong> @Version ]</p>
</div>

@code {
    [Parameter]
    public string? Version { get; set; }

    [Parameter]
    public bool IsAlpha { get; set; } = true;
}