<div class="app-title-wrap">
    <a class="app-title" href="/">Morph</a>
    @if (AboutUrl != null)
    {
        <p class="alpha-note"><a href="@AboutUrl">[
            @if (IsAlpha)
            {
                <strong>alpha </strong>
            }
            @Version 
        ]</a></p>
    }
    else 
    {
        <p class="alpha-note">[ <strong>alpha</strong> @Version ]</p>
    }
</div>

@code {
    [Parameter]
    public string? Version { get; set; }

    [Parameter]
    public bool IsAlpha { get; set; } = true;

    [Parameter]
    public string? AboutUrl { get; set; }
}