a.app-title {
    color: var(--mud-palette-primary-text);
    font-family: var(--morph-logo-font);
    font-size: 4rem;
    height: 3rem;
    text-transform: lowercase;
    text-decoration: none;
}

.app-title-wrap {
    align-items: baseline;
    margin-bottom: 12px;
    display: flex;
    color: rgb(238, 238, 238);
}

.alpha-note {
    font-weight: lighter;
    margin-left: 4px;
    text-transform: uppercase;
}

a {
    color: var(--mud-palette-primary-text);
}