@inherits LayoutComponentBase
@using MorphShared.Components

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            <MorphAppTitle Version="@AppVersion" />
            <div class="app-wrap">
                @Body
            </div>
            <MorphAppFooter />
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private string? AppVersion { get; set; } = typeof(MainLayout).Assembly.GetName().Version?.ToString();
}