@inherits LayoutComponentBase
@using MorphShared.Components

@inject IApiService ApiService
@inject ShakeService ShakeService
@inject NavigationManager NavManager

<MudThemeProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            <MorphAppTitle Version="@AppVersion" IsAlpha="true" AboutUrl="/about" />
            <div class="app-wrap">
                @Body
            </div>
            <MorphAppFooter />
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private string AppVersion { get; set; } = typeof(MainLayout).Assembly.GetName().Version?.ToString();

    protected override void OnInitialized()
    {
        this.ShakeService.ShakeDetected += async (sender, args) =>
        {
            var randomTerm = await ApiService.GetRandomRecommendedSearchTerm();
            NavManager.NavigateTo($"/word/{randomTerm.Term}");
        };
    }
}