.app-wrap {
    background-color: var(--mud-palette-primary-text);
    border-radius: 4px;
    padding: 16px;
}

.mud-icon-button path {
    color: var(--mud-palette-primary-text) !important;
}

.drawer-logo {
    font-family: var(--morph-logo-font) !important;
}