body {
    background: url('background.jpg') center content-box content-box fixed;
    font-family: var(--mud-typography-default-family);
}

.morph-flex-parent {
    display: flex;
}

.morph-flex-child {
    flex-grow: 1;
}
