@inherits LayoutComponentBase
@using MorphShared.Components

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            <div class="morph-flex-parent vertical-layout">
                <div class="morph-flex-child"></div>
                <div class="app-container">
                    <MorphAppTitle Version="@AppVersion" />
                    <div class="body-wrap">
                        @Body
                    </div>
                    <MorphAppFooter />
                </div>
                <div class="morph-flex-child"></div>
            </div>
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private string? AppVersion { get; set; } = typeof(MainLayout).Assembly.GetName().Version?.ToString();
}